#Map {
    border-width: 10px;
    border-color: #ed980c;
    width: 600px;
    height: 600px;
    padding: 5px;
}

/* 344f58 - grey
    ed980c - orange
    40e0d0 - turquoise
    008080 - dark blue
    afeeee - light blue
*/